$color-primary: #242E4C;
$color-secondary: #6374E3;
$color-ternary: #949AB0;
$body-color: #fcfcff;
$box-shadow: rgb(160,44,219);
$border: 1px solid $color-ternary;
$transfunc: cubic-bezier(.25,.46,.45,.94);