.grid {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-template-rows: minmax(100px,auto);
    margin: 40px;
    grid-auto-flow: dense;
    gap: 10px;
    background: transparent;

    &__box {
        background: rgba($color-primary, .8);
        border-radius: 3px;
        display: grid;
        padding: 20px;
        font-size: 20px;
        text-align: center;
        color: white;
        transition: 0.3s;

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        &:nth-child(1) {
            grid-column: span 2;
            grid-row: span 1;
        }
        &:nth-child(2) {
            grid-column: span 1;
            grid-row: span 2;
        }
        &:nth-child(4) {
            grid-column: span 1;
            grid-row: span 2;
        }
        &:nth-child(5) {
            grid-column: span 3;
            grid-row: span 1;
        }

        &:hover {
            background: $color-secondary;
        }
    }
    .number {

        &__container {
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
        }
        span {
            background-color: #56B48C;
            display: block;
            border-radius: 8px;
            padding: 1rem;
        }
        width: fit-content;
        font-size: 1.5rem;
        
    }
}

@media (max-width : 991px) {
    .grid {
        grid-template-columns: repeat(auto-fill,minmax(50%,1fr));
        grid-template-rows: minmax(auto,auto);

        &__box {
            grid-column: unset !important;
            grid-row: unset !important;
        }
    }

}