.popup:target {
    opacity: 1;
    visibility: visible;
}
.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    display: flex;
    justify-content: center;
    align-items: center;

    &__form {
        z-index: 10;

        & .send {
            margin-top: 2rem;
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;

            & .btn {
                padding: 1rem 3rem;
            }
        }
        & .label {
            // z-index: -1;
            position: absolute;
            left: 0;
            // transform: translateY(-2rem);
            transform-origin: 0%;
            transition: transform 400ms;
            color: $color-secondary;
        }

        & .field {
            width: 40%;
            position: relative;
            border-bottom: 2px solid $color-secondary;
            display: inline-block;
            margin: 4rem 1rem 1rem;

            & .label:active {

            }

            &.email , &.message {
                display: block;
                width: 90%;
            }
            &:focus-within::after {
                transform: scaleY(1);
            }

            &:focus-within .label {
                transform: translateY(-2rem);    
            }
            &::after {
                content: "";
                position: absolute;
                display: block;
                border-radius: 3px;
                height: 100%;
                width: 100%;
                background: $color-secondary;
                transform: scaleY(0);
                transform-origin: 0%;
                transition: transform 500ms ease;
                top: 3.5px;
                z-index: -1;
            }

            & .input {
                outline: none;
                border: none;
                overflow: hidden;
                margin: 0;
                width: 100%;
                padding: 0.25rem ;
                background: none;
                color: white;
                font-size: 1.2rem;
                font-weight: bold;
                font-family: 'Inter' , sans-serif;

                &.textarea {
                    outline: none;
                }
            }
        }
        & .row {
            position: relative;
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(300px,1fr));

            & .col {
                width: 100%;
                padding: 0 10px;
                margin: 30px 0 10px;
                transition: 0.5s;
            }
            & .inputbox.textarea {
                position: relative;
                width: 100%;
                height: 100px;
                padding: 10px 0;

                
                & textarea {
                    height: 100%;
                    resize: none;

                    &:focus + .text ,  &:valid + .text {
                        top: -35px;
                        left: -10px;
                    }
                    &:focus ~ .line , &:valid ~ .line {
                        height: 100%;
                    }
                    & + #text {
                        top: 0;
                        left: 0;
                    }
                    & ~ #line {
                        height: 2px;
                    }
                }
            }
            & .inputbox {
                position: relative;
                width: 100%;
                height: 40px;
                color: $color-secondary;


                & input:focus + .text ,  & input:valid + .text {
                    top: -35px;
                    left: -10px;
                }
                & input:focus ~ .line , & input:valid ~ .line {
                    height: 100%;
                }

                & .line {
                    position: absolute;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: $color-secondary;
                    transition: 0.5s;
                    border-radius: 2px;
                }

                & .text {
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 40px;
                    font-size: 18px;
                    padding: 0 10px;
                    display: block;
                    transition: 0.5s;
                    pointer-events: none;
                }

                & input , &.textarea textarea {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: transparent;
                    box-shadow: none;
                    border: none;
                    outline: none;
                    font-size: 18px;
                    padding: 0 10px;
                    z-index: 1;
                    color: white;

                    
                }
            }
        }
    }
    &__close {
        position: absolute;
        right: 2%;
        top: 0;
        font-size: 2rem;
        color: $color-ternary;
    }
    &__content {
        width: 75%;
        max-height: 95vh;
        height: fit-content;
        padding: 1rem;
        display: flex;
        align-items: stretch;
        background-color: white;
        position: relative;
        overflow: auto;
    }
    &__left {
        border: 1px solid black;
        width: 30%;
        background-image: url(../img/nat-10.jpg);
        background-repeat: repeat-y;
        background-size: cover;
        // position: fixed;
    }
    &__right {
        border: 1px solid red;
        width: 70%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        // margin-left: 30%;
    }
}